<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="exampleModalCenter" >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="container product-container">
                    <div class="header-top">
                   


                        <div class="row">
                          
                                <div class="col-sm-8">

                                         <div class="row">
                                                  <div class="col product-block product-info" >
                                                                  <p>Shipping </p> 
                                                                  <p>Price </p>
                                                  </div>

                                                <div class="col product-block product-info" >
                                                  Condition 
                                                </div>
                                                <div class="col  product-block product-info"  >
                                                 Certificate of Conformance
                                                </div>
                                                <div class="col  product-block product-info"   >
                                                  Seller Info
                                                </div>

                                        </div>
                                  </div>
 
                        </div>

                        <hr class="header-hr">


















                    </div>


               
                           <!--    <div>
                              <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                  <div class="col mr-2  product-block"  >
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                  </div>
                                       <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">
                                                Add to Cart
                                              </button>

                                 
                                </div>
                              </div>
                              </div> -->
                   
               
                        

               
               




                        <div class="row">
                          <div class="col-sm-8">



                                         <div class="row">
                                                  <div class="col product-block product-info" >
                                                                 <p>$42.32</p> 
                                                                 <p>Standard</p>
                                                  </div>



                                                <div class="col product-block product-info" >
                                                  New In Package
                                                </div>
                                                <div class="col  product-block product-info"  >
                                                 Yes
                                                </div>
                                                <div class="col  product-block product-info"  >
                                                  IBIDE Corp
                                                </div>


                                        </div>
                                  </div>





                                <div class="col-sm-4" id="add-to-cart-btn">

                                            


                                             <a href="/cart" class="btn btn-warning btn-block">  Add to Cart</a>

                              </div>
                        </div>
               




        </div>
      ...
    </div>
  </div>
</div>